<h1>Task : {{task}}</h1>

<!-- 
} 
.current-page{
    background-color: red;
    padding: 3px 18px; 
    border-radius: 50px;
}
#menu-bar{
    background-color: rgb(31, 29, 63);
}
#menu-bar ul{
    margin: 0px;
    margin-left: -35px;
}
#menu-bar ul li{
    display: inline-block;
    padding: 22px 0;
    padding-right: 60px;
}
#menu-bar ul li a{
    text-decoration: none;
    color: white;
    font-size: 21px;
    transition: all 0.3s ease 0s;
}  
#menu-bar ul li a:hover{
    color: rgb(31, 29, 63);
    background-color: white;
    padding: 3px 18px;
    border-radius: 50px; 
}
/* ------------------------------------------------------------- */

#logo-img{
    width: 5%;
}
#logo-bar{
    background-color: rgb(224, 219, 219);
    padding-top: 6px;
    padding-bottom: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#social-icon{
    display: inline-block;
}


.fa-brands{
    background-color: rgb(235, 56, 56);
    color: rgb(224, 219, 219);
    padding: 7px;
    padding-right: 7px;
    border-radius: 10px;
    transition: all 0.3s ease 0s;
}
.fa-brands:hover{
    background-color: white;
    color: black;
}
.fa-facebook-f{
    padding: 7px 10px;
}
.fa-whatsapp{
    padding: 7px 8px;
}
.fa-instagram{
    padding: 7px 8px;
}
/* ----------------------------------------------------- */


